#grey{
    background-color: darkgray;
    padding: 60px;
}

#light-left{
    background-color: lightgray;
    padding: 30px;
    width: 100px;
    height: 600px;
    float: left;
}

#light-right{
    background-color: lightgray;
    padding: 30px;
    width: 100px;
    height: 600px;
    float: right;
}
#black{
    background-color: black;
    padding: 20px;
    margin-top: 580px;
    height: 40px;
}